<app-navbar></app-navbar>
<div class="main_container">
    <div class="header">
        <h1>Playoffy</h1>
        <div class="add_button button">utwórz drabinkę</div>
    </div>
    <div class="ladder_container">
        Tu będzie drabinka
    </div>
    <div class="header">
        <h2>Mecze</h2>
    </div>
    <div class="table">
        <div class="table_header">
            <div></div>
            <div>Drużyna 1</div>
            <div>Wynik</div>
            <div>Drużyna 2</div>
            <div>Data</div>
            <div>Godzina</div>
            <div>Status</div>
            <div>Akcje</div>
        </div>
    </div>
</div>

