@import "/src/styles.scss";

.m_container {
    position: fixed;
    display: flex;
    flex-direction: column;

    overflow: auto;

    left: 17%;
    height: 100vh;
    width: 400px;
    padding: 50px 25px 25px 25px;

    background-color: $modal_bg;
    box-shadow: 6px 0px 4px 0px rgba(0, 0, 0, 0.25), inset 4px 0px 4px 0px rgba(0, 0, 0, 0.25);

    z-index: 1000;

    .close {
        position: absolute;
        
        right: 20px;
        top: 20px;

        font-size: 22px;
        color: $light_gray;
    }

    .close:hover {
        color: $gray;
    }

    /* ========================================
        Header Section
       ======================================== */ 

    .m_header {
        padding-bottom: 20px;
        margin-bottom: 30px;

        font-size: 24px;
        font-weight: 700;
        color: $dark_gray;

        border-bottom: 1px solid $semi_white;
    }

    /* ========================================
        Forms Section
       ======================================== */ 


       .m_forms {
        flex: 1;

        .form {
            width: 100%;

            h4 {
                margin-bottom: 10px;

                font-size: 18px;
                color: $dark_gray;
            }

            h4.optional::after {
                content: '(opcjonalnie)';
                margin-left: 5px;

                font-size: 14px;
                color: $semi_white;
            }

            input {
                width: 100%;
                height: 45px;
                padding: 0 10px;

                color: $dark_gray;
                font-weight: 700;

                border: 2px solid $semi_white;
                border-radius: 10px;
                transition: border 0.5s ease;
            }

            input:focus {
                border: 2px solid $dark_gray;
                outline: none;
                transition: border 0.5s ease;
            }

            input.error {
                border-color: $light-red;
            }

            input.error:focus {
                border-color: $light-red;
            }

            .error_message {
                position: absolute;
                float: right;

                padding-left: 5px;
                padding-top: 5px;

                font-size: 12px;
                opacity: 0.5;
                color: $red;
            }
        }

        .form + .form {
            margin-top: 30px;
        }

        .separator {
            width: 100%;
            padding-top: 5px;
            margin: 30px 0 20px 0;

            font-weight: 700;
            color: $semi_white;

            border-top: 1px solid $semi_white;
        }
    }
    
    /* ========================================
        Footer Section
       ======================================== */ 

    .m_footer {
        display: flex;
        justify-content: flex-end;

        margin-top: 40px;
        padding-top: 20px;
        gap: 10px;

        border-top: 1px solid $semi_white;

        button {
            width: 90px;
            height: 40px;

            font-weight: 700;

            transition: 1s ease;
            cursor: pointer;
        }

        .cancel {
            color: $dark_gray;
            background-color: transparent;

            border: 1px solid $dark_gray;
        }

        .add {
            color: white;
            background-color: $gold;

            border: none;
        }

        button:hover {
            letter-spacing: 2px;
            transition: 0.5s ease;
        }
    }
}