<!-- Generate Groups Modal -->
<div class="m_container" *ngIf="show_modal && which_modal==='generate'">
    <div class="m_header">
        Utwórz grupy
    </div>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="m_forms">
            <div class="form">
                <h4>Liczba grup</h4>
                <input [ngClass]="{'error': isInvalid('number_of_groups')}" type="text" placeholder="Liczba" formControlName="number_of_groups">
                <div *ngIf="isInvalid('number_of_groups')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('number_of_groups') }}</div>
            </div>
            <div class="form">
                <h4>Liczba drużyn w grupie</h4>
                <input [ngClass]="{'error': isInvalid('size_of_groups')}" type="text" placeholder="Liczba" formControlName="size_of_groups">
                <div *ngIf="isInvalid('size_of_groups')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('size_of_groups') }}</div>
            </div>
            <div class="form">
                <h4>Liczba drużyn wychodzących z grupy</h4>
                <input [ngClass]="{'error': isInvalid('teams_passing')}" type="text" placeholder="Liczba" formControlName="teams_passing">
                <div *ngIf="isInvalid('teams_passing')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('teams_passing') }}</div>
            </div>
        </div>
        <div class="m_footer">
            <button class="cancel" (click)="close()">Anuluj</button>
            <button class="add" type="submit">Utwórz</button>
        </div>
    </form>
</div>

<!-- Edit Group Modal -->
<div class="m_container" *ngIf="show_modal && which_modal==='edit'">
    <div class="m_header">
        Edytuj grupę
    </div>
    <div class="m_forms">
        <form novalidate [formGroup]="edit_form">
            <div class="form" *ngFor="let form of counter(groups_size); index as i">
                <h4>Drużyna {{ i+1 }}</h4>
                <select placeholder="Wybierz drużynę" formControlName="{{'team_' + (i+1)}}">
                    <option value="" disabled selected hidden>Wybierz drużynę</option>
                    <option *ngFor="let team of teams"
                            selected
                            [value]="team.id" >
                        {{ team.name }}
                    </option>
                </select>
            </div>
        </form>
    </div>
    <div class="m_footer">
        <button class="cancel" (click)="close()">Anuluj</button>
        <button class="add" (click)="onSubmit()">Zapisz</button>
    </div>
</div>

<!-- Add Match Modal -->
<div class="m_container" *ngIf="show_modal && which_modal==='add_match'">
    <div class="m_header">
        Utwórz mecz
    </div>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="m_forms">
            <div class="form" *ngFor="let form of counter(groups_size); index as i">
                <h4>Pierwsza drużyna</h4>
                <select placeholder="Wybierz drużynę" formControlName="first_team">
                    <option value="" disabled selected hidden>Wybierz drużynę</option>
                    <option *ngFor="let team of teams"
                            selected
                            [value]="team.id" >
                        {{ team.name }}
                    </option>
                </select>
            </div>
            <div class="form">
                <h4>Liczba grup</h4>
                <input [ngClass]="{'error': isInvalid('number_of_groups')}" type="text" placeholder="Liczba" formControlName="number_of_groups">
                <div *ngIf="isInvalid('number_of_groups')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('number_of_groups') }}</div>
            </div>
        </div>
        <div class="m_footer">
            <button class="cancel" (click)="close()">Anuluj</button>
            <button class="add" type="submit">Utwórz</button>
        </div>
    </form>
</div>
