@import "/src/styles.scss";

.groups_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    margin-bottom: 10%;

    .group {
        margin-bottom: 3%;

        .info_container {
            display: flex;
            justify-content: space-between;

            padding: 0 10px 10px 0;

            color: $gray;
            font-weight: 900;
            font-size: 18px;

            border-bottom: 2px solid $dark-gray;
        }

        .team {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            gap: 10px;
            padding: 15px 10px 15px 0;

            font-size: 18px;
            font-weight: 700;
            color: $dark-gray;
            text-transform: uppercase;

            border-bottom: 1px solid $semi-white;

            .score {
                margin-left: auto;
                padding-left: 10px; 
            }
        }
    }
}

.table > * {
    grid-template-columns: 2% 21% 10% 21% 10% 10% 18% 8%;
}