<confirmation-modal #confirmation_modal></confirmation-modal>
<app-groups-modals #groups_modals></app-groups-modals>
<app-navbar></app-navbar>
<div class="main_container">
    <div class="header">
        <h1>Grupy</h1>
        <div class="add_button button" (click)="groups_modals.open('generate')">utwórz grupy</div>
    </div>
    <div class="groups_container">
        <div class="group" *ngFor="let group of groups">
            <div class="info_container">
                {{ group.name }}
                <fa-icon class="button" (click)="groups_modals.open('edit', {group: group})" [icon]="faPen"></fa-icon>
            </div>
            <div class="team" *ngFor="let assignment of group.assignments; index as i">
                <p>{{ i+1+"." }}</p>
                <p class="name">{{ assignment.team ? assignment.team.name : "" }}</p>
                <div class="score">{{ assignment.score }}</div>
            </div>
        </div>
    </div>
    <div class="header">
        <h2>Mecze</h2>
        <div class="add_button button" (click)="groups_modals.open('add_match')" style="font-size: 14px;">Dodaj mecz</div>
    </div>
    <div class="table">
        <div class="table_header">
            <div></div>
            <div>Drużyna 1</div>
            <div>Wynik</div>
            <div>Drużyna 2</div>
            <div>Data</div>
            <div>Godzina</div>
            <div>Status</div>
            <div>Akcje</div>
        </div>
        <div class="table_row" *ngFor="let match of matches; index as i">
            <div>{{ i+1 + "." }}</div>
            <div>{{ match.team1Name }}</div>
            <div>{{ match.result }}</div>
            <div>{{ match.team2Name }}</div>
            <div>{{ match.date }}</div>
            <div>{{ match.time }}</div>
            <div>{{ match.status }}</div>
            <div class="actions">
                <fa-icon class="button" [icon]="faPen"></fa-icon>
                <fa-icon class="button" (click)="confirmation_modal.open('match', match.id)" [icon]="faTrash"></fa-icon>
            </div>
        </div>
    </div>
</div>
