@import "/src/styles.scss";

.navbar_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;

    width: 17%;
    height: 100vh;

    background-color: $semi_white;
    user-select: none;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 20vh;

        font-weight: 900;
        font-size: 26px;
        color: $dark_gray;
        text-transform: uppercase;
    }   

    .divider {
        width: 80%;
        height: 25px;
        margin: 0 auto 10px auto;
        padding: 5px;

        font-weight: 700;
        color: $gray;
        border-top: 1px solid $light_gray;
    }

    .list {
        width: 100%;
        margin-bottom: 20px;
    }

    .item {
        display: flex;
        align-items: center;

        padding:10px 10%;

        font-weight: 700;
        font-size: 18px;
        color: $dark_gray;
        cursor: pointer;
    }


    .icon {
        width: 26px;
        margin-right: 10px;

        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(269deg) brightness(88%) contrast(85%);
    }

    .logout {
        margin-top: auto;
        margin-bottom: 5vh;
    }

    // Hover link styles
    .item:hover {
        background-color: $light_gray;
        color: white;

        .icon {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(100%) contrast(104%);
        }
    }

    // Active link styles
    .active {
        padding-left: calc(10% - 6px);

        border-left: 6px solid $gold;
        color: $semi_black;

        .icon {
            filter: invert(18%) sepia(0%) saturate(1287%) hue-rotate(277deg) brightness(99%) contrast(79%);
        }
    }
}