<div class="navbar_container">
     <div class="logo">
         INFOTECH CUP   
     </div>
     <div class="divider">
         Turnieje
     </div>
     <div class="list">
        <div class="item" routerLinkActive="active" routerLink="../league-of-legends"  (click)="changeGame('league-of-legends')"><img class="icon" src="/assets/league_of_legends.svg">League of Legends</div>
        <div class="item" routerLinkActive="active" routerLink="../valorant" (click)="changeGame('valorant')"><img class="icon" src="/assets/valorant.svg">Valorant</div>
        <div class="item" routerLinkActive="active" routerLink="../csgo" (click)="changeGame('csgo')"><img class="icon" src="/assets/counter_strike.svg">Counter Strike</div>
     </div>
     <div class="divider">
         Zarządzanie
     </div>
     <div class="list">
        <div class="item" routerLinkActive="active" [routerLink]="['/teams', selected_game]"><img class="icon" src="/assets/people.svg">Drużyny</div>
        <div class="item" routerLinkActive="active" [routerLink]="['/groups', selected_game]"><img class="icon" src="/assets//groups.svg">Grupy</div>
        <div class="item" routerLinkActive="active" [routerLink]="['/playoffs', selected_game]"><img class="icon" src="/assets/playoffs.svg">Playoffy</div>
     </div>
     <div class="item logout" (click)="logout()" routerLink="/login"><img class="icon" src="/assets/logout.svg">Wyloguj</div>
</div>
