<div class="background">
    <div class="login_container">
        <h1>Logowanie</h1>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="content">
                <input type="text" placeholder="Login" formControlName="username">
                <input type="password" placeholder="Hasło" formControlName="password">
            </div>
            <button type="submit">Zaloguj</button>
        </form>
    </div>
</div>
