@import "/src/styles.scss";

.background {
    width: 100%;
    height: 100vh;
    background-color: $semi-white;
}

.login_container {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: 400px;
    padding: 50px 72px;
    gap: 40px;

    background-color: white;
    box-shadow: 6px 6px 4px 2px rgba(0, 0, 0, 0.25);


    h1 {
        text-align: center;
        color: $almost-black;
    }

    form {
        display: flex;
        flex-direction: column;

        flex: 1;

        .content {
            display: flex;
            flex-direction: column;
    
            gap: 20px;
    
            input {
                padding-left: 0;
                padding-bottom: 7px;
    
                color: $dark-gray;
                font-size: 18px;
                font-weight: 700;
    
                border: none;
                border-bottom: 2px solid $light_gray;
    
                transition: border-bottom 1s ease;
            }
    
            input:focus {
    
                outline: none;
                border-bottom: 2px solid $dark-gray;
    
                transition: border-bottom 0.5s ease;
            }
        }
    
        button {
            width: 100%;
            height: 60px;
            margin-top: auto;
    
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: 700;
    
            background-color: $gold;
    
            border: none;
            cursor: pointer;
        }
    }
}