@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');  // Lato font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');  // Roboto font import

// Variables
$almost_black: #252525;
$semi_black: #3E3E3E;
$dark_gray: #737373;
$gray: #989898;
$light_gray: #B5B5B5;
$semi_white: #DBDBDB;
$almost_white: #FDFDFD;
$modal_bg: #FCFCFC;
$gold: #FFC11F;
$red: #FD0000;
$light-red: #fd000083;


// Global styles
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'sans-serif';
}


// Global classes
.main_container {
    float: right;

    width: 83%;
    height: 100vh;
    padding: 3%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 6%;
}

.button {
    cursor: pointer;
    user-select: none;
}

.add_button {
    padding: 15px 25px;

    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 5px 4px 0 rgba($color: #000000, $alpha: 0.25);
    background-color: $gold;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;

    color: $almost_black;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;

    color: $almost_black;
}


// Table styles
.table {
    display: grid;
    gap: 10px;

    margin-bottom: 5%;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    .table_header {
        display: grid;

        padding: 0 1% 10px 1%;

        color: $gray;
        border-bottom: 2px solid $dark_gray;
    }
    
    .table_row {
        display: grid;

        padding: 10px 0 20px 0;
        margin: 0 1%;

        color: $dark_gray;
        border-bottom: 1px solid $semi_white;

        .actions {
            display: flex;
            gap: 10px;
        }
    }
}
