<!-- Modal confirmation -->
<div class="bg_darkening" *ngIf="show_modal">
    <div class="m_container">
        <fa-icon class="button close" (click)="close(false)" [icon]="faTimes"></fa-icon>
        <div class="m_header">
            <h2>Jesteś pewien?</h2>
        </div>
        <div class="m_body">
            <p>Napewno chcesz usunąć ten rekord? Tej<br />
               operacji <strong>nie można</strong> cofnąć.</p>
        </div>
        <div class="m_footer">
            <button class="cancel" (click)="close(false)">Anuluj</button>
            <button class="submit" (click)="close(true)">Usuń</button>
        </div>
    </div>
</div>