@import "/src/styles.scss";

.bg_darkening {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.13);
    z-index: 1000;
}

.m_container {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 300px;

    background-color: $modal_bg;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);

    z-index: 1000;

    .close {
        position: absolute;
        
        right: 20px;
        top: 20px;

        font-size: 22px;
        color: $light_gray;
    }

    .close:hover {
        color: $gray;
    }

    /* ========================================
        Header Section
       ======================================== */ 

    .m_header {
        padding: 25px 0 20px 35px;

        font-weight: 700;
        color: $almost-black;
    }

    /* ========================================
        Body Section
       ======================================== */ 

    .m_body {
        flex: 1;
        display: flex;
        align-items: center;

        padding: 0 0 0 35px;

        font-size: 20px;
        color: $dark_gray;

        border-top: 1px solid $semi_white;

        strong {
            color: $red;
        }
    }

    /* ========================================
        Footer Section
       ======================================== */ 

    .m_footer {
        display: flex;
        justify-content: flex-end;

        padding: 20px 10px 20px 0;
        gap: 10px;

        border-top: 1px solid $semi_white;

        button {
            width: 100px;
            height: 40px;

            font-weight: 700;

            transition: letter-spacing 1s ease;
            cursor: pointer;
        }

        .cancel {
            color: $dark_gray;
            background-color: transparent;

            border: 1px solid $dark_gray;
        }

        .submit {
            color: white;
            background-color: $red;

            border: none
        }

        button:hover {
            letter-spacing: 2px;
            transition: letter-spacing 0.5s ease;
        }
    }
}