<!-- Modal -->
<div class="m_container" *ngIf="show_modal">
    <fa-icon class="button close" (click)="close()" [icon]="faTimes"></fa-icon>
    <div class="m_header">
        {{ which_modal==='add' ? 'Dodaj drużynę' : 'Edytuj drużynę' }}
    </div>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="m_forms">
            <div class="form">
                <h4>Nazwa drużyny</h4>
                <input [ngClass]="{'error': isInvalid('name')}" type="text" placeholder="Nazwa" formControlName="name">
                <div *ngIf="isInvalid('name')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('name') }}</div>
            </div>

            <div class="separator">Członkowie drużyny</div>

            <div class="form">
                <h4>Kapitan drużyny</h4>
                <input [ngClass]="{'error': isInvalid('captain')}" type="text" placeholder="Nick" formControlName="captain">
                <div *ngIf="isInvalid('captain')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('captain') }}</div>
            </div>
            <div class="form">
                <h4>Zawodnik nr. 2</h4>
                <input [ngClass]="{'error': isInvalid('member_2')}" type="text" placeholder="Nick" formControlName="member_2">
                <div *ngIf="isInvalid('member_2')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('member_2') }}</div>
            </div>
            <div class="form">
                <h4>Zawodnik nr. 3</h4>
                <input [ngClass]="{'error': isInvalid('member_3')}" type="text" placeholder="Nick" formControlName="member_3">
                <div *ngIf="isInvalid('member_3')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('member_3') }}</div>
            </div>
            <div class="form">
                <h4>Zawodnik nr. 4</h4>
                <input [ngClass]="{'error': isInvalid('member_4')}" type="text" placeholder="Nick" formControlName="member_4">
                <div *ngIf="isInvalid('member_4')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('member_4') }}</div>
            </div>
            <div class="form">
                <h4>Zawodnik nr. 5</h4>
                <input [ngClass]="{'error': isInvalid('member_5')}" type="text" placeholder="Nick" formControlName="member_5">
                <div *ngIf="isInvalid('member_5')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('member_5') }}</div>
            </div>
            <div class="form">
                <h4 class="optional">Zawodnik nr. 6</h4>
                <input [ngClass]="{'error': isInvalid('member_6')}" type="text" placeholder="Nick" formControlName="member_6">
                <div *ngIf="isInvalid('member_6')" class="error_message"><fa-icon [icon]="faError"></fa-icon> {{ getErrorMessage('member_6') }}</div>
            </div>
        </div>
        <div class="m_footer">
            <button class="cancel" (click)="close()">Anuluj</button>
            <button class="add" type="submit">
                {{ which_modal==='add' ? 'Dodaj' : 'Zapisz' }}
            </button>
        </div>
    </form>
</div>