<confirmation-modal #confirmation_modal></confirmation-modal>
<app-teams-modals #teams_modals></app-teams-modals>
<app-navbar></app-navbar>
<div class="main_container">
    <div class="header">
        <h1>Drużyny</h1>
        <div class="add_button button" (click)="teams_modals.open('add', {game: selected_game})">dodaj drużynę</div>
    </div>
    <div class="table">
        <div class="table_header">
            <div></div>
            <div>Nazwa</div>
            <div>Kapitan</div>
            <div>Ilość członków</div>
            <div>Akcje</div>
        </div>
        <div class="table_row" *ngFor="let team of teams; index as i">
            <div>{{ i+1 + "." }}</div>
            <div>{{ team.name }}</div>
            <div>{{ team.captain.name }}</div>
            <div>{{ team.members.length }}</div>
            <div class="actions">
                <fa-icon class="button" (click)="teams_modals.open('edit', {team: team})" [icon]="faPen"></fa-icon>
                <fa-icon class="button" (click)="confirmation_modal.open('teams', team.id)" [icon]="faTrash"></fa-icon>
            </div>
        </div>
    </div>
</div>
